.matcard2{
    
    margin-top: 50px;
    margin-left: 7px;
    width: 284px;
    border-radius: 14px;
    padding-bottom: 50px;
    padding-top: 0px;
}

.matpad2
{
  // height: 110px;
  height: max-content;
  width: 284px;
}
 
.matpad3
{
    height: max-content;
    width: 547px;
    margin-top: 2px;
}

.appicons{
    margin-top: 10px;
}
.textarea1:empty:before
{
    content: attr(data-text);
    opacity: 0.5;
    font-size: 14px;
    width:60px;
    height:10px;
}
.allnotes{
    width: 10px;
}
.iconBackborder{
    
    margin-top: 59px;
    margin-left: 14px;
    // margin-top: 69px;
    // margin-left: 14px;
   
}
.button{
    margin-left: 273px;
    margin-top: -139px;
    // margin-left: 481px;
    // margin-top: -11px;
    
  }
  
  address {
    visibility: hidden;
    display: block;

  }
  
span :hover+address
{
     visibility: visible;
} 

  