<mat-chip-list >

  <mat-chip *ngFor="let labels of label">
      <div *ngIf="labels!=null">
        {{labels.lableName}}
      </div>
      <mat-icon matChipRemove id="labelChip" (click)="onDelete(labels)">cancel</mat-icon>
  </mat-chip>

  <div *ngIf="reminder!=null">
   <mat-chip>
    {{reminder | date:'MMMM d'}},
    {{reminder | date:'shortTime'}}
    <mat-icon matChipRemove (click)="onDeleteRem()">cancel</mat-icon>
  </mat-chip> 
</div>


<!-- Getting the user image to with the my notes collbarted  -->
<!-- correct -->
<div *ngFor="let user of colDetails">
<div *ngIf="user.email!=null">
<mat-chip>
  <span>
  <img class="image" src={{image+user.profile}}>
  <address>
    <mat-icon color=primary matChipRemove (click)="removeCollabrate(user)">cancel</mat-icon>
   </address>
  </span>
</mat-chip>
</div>
</div>
 
<!-- Getting the user image who r collbarted they notes to me -->
<div *ngFor="let colNotes of colUserDetails">
  <div *ngIf="noteid==colNotes.nid">
  <mat-chip>
     <img class="image" src={{image+UserPrf.profile}}>
  </mat-chip>
  </div>
  </div>

</mat-chip-list>
