<mat-chip-list >
    <mat-chip class="chip" *ngFor="let labels of label">
      <div *ngIf="labels!=null">
        {{labels.lableName}}
      </div>
      <mat-icon matChipRemove (click)="onDelete(labels)">cancel</mat-icon>
  </mat-chip>
</mat-chip-list>

<!-- <mat-chip-list >
  <mat-chip class="chip" *ngFor="let labels of reminder">
    <div *ngIf="labels!=null">
      {{labels.reminder}}
    </div>
    <mat-icon matChipRemove (click)="onDelete(labels)">cancel</mat-icon>
</mat-chip>
</mat-chip-list> -->