
{{restPassword | json}}
<div class="backborder" fxLayout="column" fxLayoutAlign="space-around center" >
    <img
      width="60"
      alt="Fundoo Logo"
      src="https://www.google.com/images/icons/product/keep-512.png"
    />
    <h1>RestPassword</h1>
  
    <mat-form-field appearance="outline" class="input">
      <mat-label>NewPassword</mat-label>
      <input type="password" matInput placeholder="Enter your New Password" required [formControl]="newPassword" [(ngModel)]="restPassword.newPassword"/>
       <mat-error *ngIf="newPassword.invalid ">{{getErrorPassword()}}</mat-error> 
      <mat-hint>Enter Password</mat-hint>
    </mat-form-field>
  </div>
  
  <div class="backborder"> 
     <button
      mat-raised-button
      color="primary"
      (click)="onlogin()"
    >
      Reset
    </button> <br>
    
  </div> 