 .input {
    width: 306px;
  }
  .emailinput {
    width: 551px;
  }
  .forget {
    margin-left: 182px;
  }
  
  .backborder {
    text-align: center;
    font-size: revert;
    margin: -98px;
    margin-left: 409px;
     border-radius: 21px;
    background-color: #ece0e0;
     margin-right: 340px;
     padding-bottom: 49px;
     margin-top: 64px 
  }
  .field1 {
    margin-left: 344px;
  }
  .field2 {
    margin-top: -86px;
    margin-right: 371px;
  }
  .field3 {
    margin-left: 356px;
    margin-top: 16px;
  }
  .field4 {
    margin-top: -89px;
    margin-right: 371px;
  }
  .emailField {
    margin-top: 17px;
    margin-right: 126px;
  }