.matcard2{
    margin-top: 33px;
    margin-left: -7px;
    width:512px;
    border-radius: 14px;
    padding-bottom: 50px;
}
.iconBackborder{
    margin-top: -57px;
}
.button{
    margin-left: 481px;
    margin-top: -11px;
  }