 <div style="margin-left: 10px; margin-bottom: -13px;margin-top: 25px;">
    PINNED
 </div>
 <div *ngFor="let note of notes">
        
    <div *ngIf="note.isPinned==1">
      
       <mat-card [ngStyle]="{'background-color':note.colour}" class="matcard2">

           <!-- <app-pin [noteid]=note></app-pin>   -->
         <button mat-icon-button (click)="unpin(note)"  class="button" >
            <mat-icon class=color> 
                <img   src="assets/images/pin-image.png" >
            </mat-icon>   
         </button>  

       <div  (click)="onUpdate(note)" >
    
          <form>
         
                <div>
                   {{note.title}}
                </div>
                <br>
                <div>
                   {{note.description}}
                </div>
                <br>
             <app-label-note [labelInfo]=note></app-label-note> 
            
          </form> 

         </div> 

       </mat-card>
       <div class="iconBackborder">
        <app-icon [noteInfo]=note></app-icon>
        </div>

    </div>
 </div>