.matcard2{
    margin-left: -7px;
    width: 515px;
    margin: 39px;
    border-radius: 14px;
    padding-bottom: 38px;
}
.appicons{
    margin-top: 10px;
}
.textarea1:empty:before
{
    content: attr(data-text);
    opacity: 0.5;
    font-size: 14px;
    width:60px;
    height:10px;
}
.iconBackborder{
    margin-top: -57px;
}

.allnotes{
    width: 20px;
}