<!-- {{note | json}} -->
    <div class="container" fxLayout="row"  fxLayoutAlign="center start" >
        <mat-card (click)="onOpen()" *ngIf="!open" class="matcard" >
             <input matInput class="searchBar" placeholder="Take a Note..." [formControl]="description"> 
            
            <div  style="margin-right: 112px;" fxLayout="row" fxLayoutAlign="center center">
                <button mat-icon-button style="padding-left: 40px;">
                <mat-icon matTooltip="New List">check_box</mat-icon>
                </button>
                <button mat-icon-button style="margin-right: -58px;">
                <mat-icon matTooltip="New List">brush</mat-icon>
                </button>
                <button mat-icon-button>
                <mat-icon matTooltip="New List">image</mat-icon>
                </button>
                
            </div>
        </mat-card>

        <mat-card *ngIf="open" class="matcard1" >
            <div data-text="Take a Note" contenteditable="true" class="textarea1" fxLayout="row"  fxLayoutAlign="center start">
                <!-- <input matInput placeholder="Title" [formControl]="title" [(ngModel)]="note.title"> -->
                <textarea id="title"   [formControl] ="title"  [(ngModel)]="note.title" matInput type="text" class="input" placeholder="Title" ></textarea>
            </div>
            <br><br>
            <div data-text="Take a Note" contenteditable="true" class="textarea1" fxLayout="row"  fxLayoutAlign="center start">
                <!-- <input matInput placeholder="Take a Note" [formControl]="description" [(ngModel)]="note.description"> -->
                <textarea id="description"   [formControl] ="description" [(ngModel)]="note.description" matInput type="text" class="input" placeholder="description"></textarea>
            </div>
            <br>
             <app-icon></app-icon>
            <!-- <div  style="margin-right: 112px;" fxLayout="row" fxLayoutAlign="center center">
                <button mat-icon-button class="archive">
                <mat-icon matTooltip="New List">add_alert</mat-icon>
                </button>
                <button mat-icon-button class="personAdd">
                <mat-icon matTooltip="New List">person_add</mat-icon>
                </button>
                <button mat-icon-button class="colorImg">
                <mat-icon matTooltip="New List">color_lens</mat-icon>
                </button>
                <button mat-icon-button class="gallery">
                    <mat-icon matTooltip="New List">image</mat-icon>
                </button>

              <button mat-icon-button class="archivePin">
                <mat-icon matTooltip="New List">archive</mat-icon>
              </button>
                            
            </div> -->
                <button mat-icon-button (click)="onClose()" style="margin-top: -39px;">
                    Close
                </button>
        </mat-card>
        
    </div>
 <app-note-details></app-note-details>  