<div fxLayout="row" fxLayoutAlign="center center"   class="1">
   
    <div fxLayout="row wrap"  fxLayout="{{direction}} wrap"  class="allnotes" style="flex-direction: row;  display: flex;" fxLayoutAlign="center center" >
 
      <div *ngFor="let note of notes">
   
       <div *ngIf="note.isArchieved==1" >  

         <mat-card [ngStyle]="{'background-color':note.colour}" class="matcard2" >

            <div (click)="onUpdate(note)" >

             <form>

               <button mat-icon-button (click)="pin(note)"  class="button" *ngIf="!toggle">
                  <mat-icon class=color> 
                      <img   src="assets/images/unpin-image.png" >
                  </mat-icon>  
                 
               </button> 
               <div  (click)="onUpdate(note)" > 
                   <div>
                      {{note.title}}
                   </div>
                   <br>
                   <div>
                      {{note.description}}
                   </div>
              </div> 
                <!-- <app-label-note [labelInfo]=note></app-label-note> -->
                 
             </form> 
            </div> 
          </mat-card>
         
        <div class="iconBackborder">
        <app-icon [noteInfo]=note></app-icon>
    </div>
    </div>
 </div>  
 </div>