<div fxLayout="row" fxLayoutAlign="center center"   class="1">
   
    <div fxLayout="row wrap"  fxLayout="{{direction}} wrap"    class="allnotes" style="flex-direction: row;  display: flex;" fxLayoutAlign="center center">
 
      <div *ngFor="let note of notes">
   
       <div *ngIf="note.isTrashed==1" >  

        <div class="notearea">

        
         <mat-card [ngStyle]="{'background-color':note.colour}" class="matcard2" >
           
             <form> 
                   <div>
                      {{note.title}}
                   </div>
                   <br>
                   <div>
                      {{note.description}}
                   </div>
                 <br>
         
          <button mat-icon-button  (click)="restore(note)">
            <mat-icon matTooltip="restore_from_trash" >restore_from_trash</mat-icon>
          </button>
          
          <button mat-icon-button class="refresh" (click)="delete(note)">
            <mat-icon matTooltip="delete_forever">delete_forever</mat-icon>
          </button>
          
                <div class=appicons fxLayoutAlign="center center">
                </div> 
             </form> 
          </mat-card>
        
        </div> 

        <div class="iconBackborder">
        <!-- <app-icon [noteInfo]=note></app-icon> -->
        </div>

    </div>
 </div>  
 </div>