<div class=icons fxLayout=layout-wrap fxLayout="row"  fxLayoutAlign="start center">
    <button mat-icon-button (click)="addalert()" >
      <mat-icon class=color> add_alert</mat-icon>
    </button>
  
    <button mat-icon-button (click)="personadd()">
      <mat-icon class=color> person_add</mat-icon>
    </button>
  
    <button mat-icon-button (click)="colorlens()" [matMenuTriggerFor]="menu1">
      <mat-icon class=color> color_lens</mat-icon>
    </button>
  
     <mat-menu #menu1="matMenu">
      <div *ngFor="let colors of  arrayColor" fxLayout="row">
        <div *ngFor="let color of colors">
  
          <button [ngStyle]="{'background-color':color.hexcode}" mat-mini-fab (click)=setColor(color.name)></button>
        </div>
      </div> 
    </mat-menu> 
  
    <button mat-icon-button (click)="insertphoto()">
      <mat-icon class=color> insert_photo</mat-icon>
    </button>
  
    <button  mat-icon-button (click)="archive()">
      <mat-icon class=color> archive</mat-icon>
    </button>
  
    <button  mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class=color> more_vert</mat-icon>
    </button>
  
  </div>
  <div>
    <mat-menu #menu="matMenu">
      <div class=button style="text-align: center">
        <button mat-icon-button color="primary" (click)="onDelete()">Delete</button>
      </div>
  
      <div class=button>
        <button mat-menu-item color="primary" [matMenuTriggerFor]="subMenu">Add label</button>
      </div>
    </mat-menu>
  </div>
  
  <mat-menu #subMenu="matMenu">
    Labelnote
    <br>
    <mat-card style="margin-bottom: -8px;">
    <input  type="text" style="border: none;" placeholder="Enter lableName" >
    <br>
    <div *ngFor="let labels of label" fxLayoutGap="20px" fxLayout="column" >
      <mat-checkbox (click)="addlabel(labels)">
        {{labels.lableName}}
      </mat-checkbox>
    </div>
  </mat-card>
  </mat-menu>
  <div> 
   
  </div>
  
<div>