
.mat-dialog-container {
    text-align: center;
    box-sizing: border-box;
    height: 185%;
    margin: -23px;
    padding-right: 273px;
}
.textarea1{
    margin-top: 10px;
    width: 252px;
}
.input{
    //border: aliceblue;
    width: 495px;
    margin-bottom: -24px;
    margin-left: -8px;
    outline: none;
    border: none;
    height: 28px;
}
.matcard2{
    margin-top: -24px;
    margin-left: -24px;
    width: 489px;
    margin-right: -24px;
    margin-bottom: -45px;
}
// .image{
//     height: 205px;
//     width: 631px;
//     margin-top: -26px;
//     margin-left: -26%;
//       }
.image{
    height: 205px;
    width: 531px;
    margin-top: -26px;
    margin-left: -6%;
}
.matcardtop{
    margin-bottom: 6px;
    margin-top: -13px;
    margin-left: -19px;
    width: 76px;
}