
.mat-dialog-container {
    text-align: center;
    box-sizing: border-box;
    height: 185%;
    margin: -23px;
    padding-right: 273px;
}
.textarea1{
    margin-top: 10px;
    width: 252px;
}
.input{
    //border: aliceblue;
    width: 495px;
    margin-bottom: -24px;
    margin-left: -8px;
    outline: none;
    border: none;
}
.matcard2{
    margin-top: -20px;
    margin-left: -24px;
    width: 489px;
    margin-right: -22px;
    margin-bottom: -45px;
}