<div *ngFor="let note of notes">
  <div *ngIf="note.nid==noteId">  
<mat-card class="matcard2" [ngStyle]="{'background-color':note.colour}">
  <form>
   <div fxLayout="row"  fxLayoutAlign="center center">
   <input matInput  type="text" placeholder="Edit Title" class="input" [ngStyle]="{'background-color':note.colour}" [formControl]="title" [(ngModel)]="note.title" >
    </div>
    <br><br>
   <div fxLayout="row"  fxLayoutAlign="center center">
    <input matInput   type="text" class="input" placeholder="Description"  [ngStyle]="{'background-color':note.colour}" [formControl]="description" [(ngModel)]="note.description">
    </div>
    <br><br>
    <app-label-note [labelInfo]=note></app-label-note> 
   </form>
   <app-icon [noteInfo]=note></app-icon>
</mat-card>

 <div fxLayout="column" fxLayoutAlign="end end"  style="margin-left: 252px;margin-bottom: -15px;">

     <button class=close mat-button (click)="onClose()" > close</button>

  </div>   
 </div>    
 </div>
 
      
  
    