<p>note-details works!</p>
<div fxLayout="row" fxLayoutAlign="center center"   class="1">
    <div fxLayout="row wrap"  fxLayout="{{direction}} wrap"    fxLayoutGap="30px" fxLayoutAlign="center center">
    <div *ngFor="let note of notes">
       <!-- <div *ngIf="note.archive==false && note.trash==false && note.pin==false" > -->
          <mat-card [ngStyle]="{'background-color':note.color}" class="matcard2" 
          [ngClass]=" direction =='row' ? 'matpad2':'matpad3' ">
           
             <form>
                <!-- <app-pin [noteInfo]=note></app-pin> -->
                <div class="notearea" (click)="onUpdate(note)">
                   <div>
                      {{note.title}}
                   </div>
                   <br>
                   <div>
                      {{note.description}}
                   </div>
                </div>
                <!-- <app-label-note [labelInfo]=note></app-label-note> -->
                <div class=appicons fxLayoutAlign="center center">
                   <!-- <app-icon [noteInfo]=note></app-icon> -->
                </div>
             </form>
          </mat-card>
       <!-- </div> -->
    </div>
 </div>
 </div>