 <div fxLayout="row" fxLayoutAlign="center center"   class="1">
    <div fxLayout="row wrap"  fxLayout="{{direction}} wrap"    fxLayoutGap="30px" fxLayoutAlign="center center">

      <div *ngFor="let note of notes">
   
       <div *ngIf="note.isArchieved==0 && note.isTrashed==0 && note.isPinned==0" >  
         <mat-card [ngStyle]="{'background-color':note.colour}" class="matcard2" >
           
             <form>
                <app-pin></app-pin>   
                 <div class="notearea" (click)="onUpdate(note)">
                   <div>
                      {{note.title}}
                   </div>
                   <br>
                   <div>
                      {{note.description}}
                   </div>
                  </div>  
                <!-- <app-label-note [labelInfo]=note></app-label-note> -->
                <div class=appicons fxLayoutAlign="center center">
                    <app-icon [noteInfo]=note></app-icon> 
                </div> 
             </form> 
          </mat-card>
        </div> 
    </div>
 </div>
 
 <!-- <div class="maindiv" >
    <div class="allnotes"   style="flex-direction: row;  display: flex; margin-left: 15%;">
        <mat-card class="getnote" >
            <div class="matdiv">
                <mat-card-title >  {{notes.title}}</mat-card-title>
                    <mat-card-content >
                        {{notes.description}}
                    </mat-card-content>
                    <div class="icon">
                       
                    </div>
            </div>

        </mat-card>
    </div>

</div> -->