 <div fxLayout="row" fxLayoutAlign="center center"   class="1">
   
<div   fxLayout="{{direction}} wrap" class="allnotes" style="flex-direction: row;  display: flex;" fxLayoutAlign="center center" >
     
       <app-unpin></app-unpin> 
     
     <div style="margin-right: 445px; margin-top: 12px;margin-bottom: -14px;">
        OTHERS
     </div>
     
 <div *ngFor="let note of notes">

    <div *ngIf="note.isArchieved==0 && note.isTrashed==0 && note.isPinned==0">  

       <mat-card [ngStyle]="{'background-color':note.colour}" class="matcard2">
           
             <button mat-icon-button (click)="pin(note)"  class="button">
               <mat-icon class=color> 
                   <img   src="assets/images/unpin-image.png" >
               </mat-icon>   
            </button>  
            <div  (click)="onUpdate(note)" >
             <form>
                   <div>
                   {{note.title}} 
                   </div>
                   <br>
                   <div>
                   {{note.description}}
                   </div>
                 
                   <br>
                 <app-label-note [labelInfo]=note></app-label-note> 
               
             </form> 
            </div> 
          </mat-card>
         
        <div class="iconBackborder">
        <app-icon [noteInfo]=note></app-icon>
        </div>
    </div>
 </div>  
 </div>
 