
<div class="backborder" fxLayout="column" fxLayoutAlign="space-around center" >
    <img
      width="60"
      alt="Fundoo Logo"
      src="https://www.google.com/images/icons/product/keep-512.png"
    />
    <h1>EmailVerify</h1>
    <mat-form-field appearance="outline" class="input">
      <mat-label>EmailorPhone</mat-label>
      <input type="text" matInput placeholder="Enter your Name" required  [formControl]="email" [(ngModel)]="emailVerify.emailId"/>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      <mat-hint>Enter Email</mat-hint>
    </mat-form-field>
</div>
<div class="backborder">
    <button
     mat-raised-button
     color="primary"
     (click)="onlogin()"
   >
     EmailVerify
   </button> <br>
</div>