.done{
    width: 317px;
    margin-top: 10px;
}
.input{
    //border: aliceblue;
    width: 323px;
    margin-bottom: -31px;
    margin-left: -8px;
    outline: none;
    border: none;
}
.matcard2{
    margin-top: -24px;
    margin-left: -24px;
    width: 314px;
    margin-right: -22px;
    margin-bottom: -24px;
   // border-radius: 15px;
}