
<!-- {{login | json}}
<br>
{{email.value | json}} -->

 <div class="backborder" fxLayout="column" fxLayoutAlign="space-around center" >
    <img
      width="60"
      alt="Fundoo Logo"
      src="https://www.google.com/images/icons/product/keep-512.png"
    />
    <h1>Signin</h1>
    Use Your Fundoo Account<br /><br/>
  
    <mat-form-field appearance="outline" class="input">
      <mat-label>EmailorPhone</mat-label>
      
      <input type="text" matInput placeholder="Enter your Name" required id="emaillogin" [formControl]="email" [(ngModel)]="login.email"/>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      <mat-hint>Enter Email</mat-hint>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="input">
      <mat-label>Password</mat-label>
    
      <input type="password" matInput placeholder="Enter your Name" required  id="passwordlogin" [formControl]="password" [(ngModel)]="login.password" />
      <mat-error *ngIf="password.invalid ">{{getErrorPassword()}}</mat-error>
      <mat-hint>Enter Password</mat-hint>
    </mat-form-field>
  
    <nav class="forget" fxLayout="row" fxLayoutAlign="center center" >
      <a routerLink="/forgotPassword" routerLinkActive="active">ForgetPassword...?</a>
    </nav>
  </div>
  <div class="backborder" fxLayout="row" fxLayoutAlign="center center">
    <div style="margin-left:-211px;margin-top: 38px;">
    <button mat-raised-button color="primary"  routerLink="/register" id="Registerlog"
    class="button">Register</button>
     </div>
  </div> 
  <div  class="backborder" style="margin-bottom: 10px;margin-top: 30px;margin-right: 531px;" fxLayout="row" fxLayoutAlign="end end"  >
    <button mat-raised-button color="primary" (click)="onlogin()" id="loginbutton">
     Login
   </button> <br> 
 </div>