
{{login | json}}
<br>
{{email.value | json}}
 <div class="backborder" fxLayout="column" fxLayoutAlign="space-around center" >
    <img
      width="60"
      alt="Fundoo Logo"
      src="https://www.google.com/images/icons/product/keep-512.png"
    />
    <h1>Signin</h1>
    Use Your Fundoo Account<br /><br/>
  
    <mat-form-field appearance="outline" class="input">
      <mat-label>EmailorPhone</mat-label>
      
      <input type="text" matInput placeholder="Enter your Name" required  [formControl]="email" [(ngModel)]="login.email"/>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      <mat-hint>Enter Email</mat-hint>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="input">
      <mat-label>Password</mat-label>
    
      <input type="password" matInput placeholder="Enter your Name" required  [formControl]="password" [(ngModel)]="login.password" />
      <mat-error *ngIf="password.invalid ">{{getErrorPassword()}}</mat-error>
      <mat-hint>Enter Password</mat-hint>
    </mat-form-field>
  
    <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" style="margin-left: 173px" routerLink="/forgotPassword"
    class="button">forgotPassword?</button>
    <nav class="forget" fxLayout="row" fxLayoutAlign="center center" style="margin-left: 173px">
      <a routerLink="/forgotPassword" routerLinkActive="active">ForgetPassword...?</a>
    </nav>
  </div>
  <div class="backborder" fxLayout="row" fxLayoutAlign="center center">
    <div style="margin-left:-224px;">
    <button mat-raised-button color="primary"  routerLink="/register"
    class="button">Register</button>
     </div>
  </div> 
  <div  class="backborder" style="margin-bottom: 10px;" >
    <button mat-raised-button color="primary" (click)="onlogin()" style="margin: 9px;padding: 7px;">
     Login
   </button> <br> 
 </div>