.backborder {
    text-align: center;
    font-size: revert;
    margin: -98px;
    border-radius: 14px;
    background-color: #ece0e0;
    padding-bottom: 47px;
    margin-top: 73px;
    margin-right: 351px;
    margin-left: 516px;
  }
  .matcard {
    height: 700px;
    width: 400px;
    margin-left: 400px;
    background-color: darkgray;
  }
  .mat-raised-button {
    text-align: center;
    line-height: 19px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    cursor: pointer;
    margin-top: -17px
  }
  .input {
    width: 306px;
  }
  .forget {
    margin-left: 182px;
    margin-top: 11px;
  }
//   .signUp{
//     margin-right: 270px;
//     margin-top: -80px;
// }
  